.elementor-133
  .elementor-element.elementor-element-46c956ad
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-heading-title {
  padding: 0;
  margin: 0;
  line-height: 1;
}
.elementor-widget-heading
  .elementor-heading-title[class*="elementor-size-"]
  > a {
  color: inherit;
  font-size: inherit;
  line-height: inherit;
}
.elementor-widget-heading .elementor-heading-title.elementor-size-small {
  font-size: 15px;
}
.elementor-widget-heading .elementor-heading-title.elementor-size-medium {
  font-size: 19px;
}
.elementor-widget-heading .elementor-heading-title.elementor-size-large {
  font-size: 29px;
}
.elementor-widget-heading .elementor-heading-title.elementor-size-xl {
  font-size: 39px;
}
.elementor-widget-heading .elementor-heading-title.elementor-size-xxl {
  font-size: 59px;
}
.elementor-133
  .elementor-element.elementor-element-66b4c318
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-133 .elementor-element.elementor-element-34259690 {
  text-align: center;
}
.elementor-133 .elementor-element.elementor-element-34259690 img {
  width: 100%;
  max-width: 100%;
  height: 86px;
}
.elementor-133
  .elementor-element.elementor-element-34259690
  > .elementor-widget-container {
  margin: 6px 6px 6px 6px;
  padding: 9px 9px 9px 9px;
}
.elementor-133 .elementor-element.elementor-element-34259690.elementor-element {
  --flex-grow: 0;
  --flex-shrink: 1;
}
.elementor-133
  .elementor-element.elementor-element-17293145
  .elementor-menu-toggle {
  margin: 0 auto;
}
.elementor-133
  .elementor-element.elementor-element-17293145
  .elementor-nav-menu
  .elementor-item {
  font-family: var(--e-global-typography-520c191-font-family), Sans-serif;
  font-size: var(--e-global-typography-520c191-font-size);
  font-weight: var(--e-global-typography-520c191-font-weight);
  text-transform: var(--e-global-typography-520c191-text-transform);
  line-height: var(--e-global-typography-520c191-line-height);
  letter-spacing: var(--e-global-typography-520c191-letter-spacing);
  word-spacing: var(--e-global-typography-520c191-word-spacing);
}
.elementor-133
  .elementor-element.elementor-element-17293145
  .elementor-nav-menu--main
  .elementor-item {
  color: var(--e-global-color-secondary);
  fill: var(--e-global-color-secondary);
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 16px;
  padding-bottom: 16px;
}
.elementor-133
  .elementor-element.elementor-element-17293145
  .elementor-nav-menu--main
  .elementor-item:hover,
.elementor-133
  .elementor-element.elementor-element-17293145
  .elementor-nav-menu--main
  .elementor-item.elementor-item-active,
.elementor-133
  .elementor-element.elementor-element-17293145
  .elementor-nav-menu--main
  .elementor-item.highlighted,
.elementor-133
  .elementor-element.elementor-element-17293145
  .elementor-nav-menu--main
  .elementor-item:focus {
  color: #6938d1;
  fill: #6938d1;
}
.elementor-133
  .elementor-element.elementor-element-17293145
  .elementor-nav-menu--main
  .elementor-item.elementor-item-active {
  color: #6938d1;
}
.elementor-133 .elementor-element.elementor-element-17293145 {
  --e-nav-menu-horizontal-menu-item-margin: calc(35px / 2);
}
.elementor-133
  .elementor-element.elementor-element-17293145
  .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal)
  .elementor-nav-menu
  > li:not(:last-child) {
  margin-bottom: 35px;
}
.elementor-133
  .elementor-element.elementor-element-17293145
  .elementor-nav-menu--dropdown
  a,
.elementor-133
  .elementor-element.elementor-element-17293145
  .elementor-menu-toggle {
  color: #672ce4;
}
.elementor-133
  .elementor-element.elementor-element-17293145
  .elementor-nav-menu--dropdown {
  background-color: var(--e-global-color-text);
  border-radius: 10px 10px 10px 10px;
}
.elementor-133
  .elementor-element.elementor-element-17293145
  .elementor-nav-menu--dropdown
  a:hover,
.elementor-133
  .elementor-element.elementor-element-17293145
  .elementor-nav-menu--dropdown
  a.elementor-item-active,
.elementor-133
  .elementor-element.elementor-element-17293145
  .elementor-nav-menu--dropdown
  a.highlighted,
.elementor-133
  .elementor-element.elementor-element-17293145
  .elementor-menu-toggle:hover {
  color: var(--e-global-color-primary);
}
.elementor-133
  .elementor-element.elementor-element-17293145
  .elementor-nav-menu--dropdown
  a:hover,
.elementor-133
  .elementor-element.elementor-element-17293145
  .elementor-nav-menu--dropdown
  a.elementor-item-active,
.elementor-133
  .elementor-element.elementor-element-17293145
  .elementor-nav-menu--dropdown
  a.highlighted {
  background-color: #6938d1;
}
.elementor-133
  .elementor-element.elementor-element-17293145
  .elementor-nav-menu--dropdown
  .elementor-item,
.elementor-133
  .elementor-element.elementor-element-17293145
  .elementor-nav-menu--dropdown
  .elementor-sub-item {
  font-family: var(--e-global-typography-520c191-font-family), Sans-serif;
  font-size: var(--e-global-typography-520c191-font-size);
  font-weight: var(--e-global-typography-520c191-font-weight);
  text-transform: var(--e-global-typography-520c191-text-transform);
  letter-spacing: var(--e-global-typography-520c191-letter-spacing);
  word-spacing: var(--e-global-typography-520c191-word-spacing);
}
.elementor-133
  .elementor-element.elementor-element-17293145
  .elementor-nav-menu--dropdown
  li:first-child
  a {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.elementor-133
  .elementor-element.elementor-element-17293145
  .elementor-nav-menu--dropdown
  li:last-child
  a {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.elementor-133
  .elementor-element.elementor-element-17293145
  div.elementor-menu-toggle {
  color: var(--e-global-color-text);
}
.elementor-133
  .elementor-element.elementor-element-17293145
  div.elementor-menu-toggle
  svg {
  fill: var(--e-global-color-text);
}
.elementor-133
  .elementor-element.elementor-element-17293145
  div.elementor-menu-toggle:hover {
  color: var(--e-global-color-d49ac81);
}
.elementor-133
  .elementor-element.elementor-element-17293145
  div.elementor-menu-toggle:hover
  svg {
  fill: var(--e-global-color-d49ac81);
}
.elementor-133
  .elementor-element.elementor-element-17293145
  .elementor-menu-toggle:hover {
  background-color: #02010100;
}
@media (max-width: 1024px) {
  .elementor-133
    .elementor-element.elementor-element-ef1004e
    .elementor-column-gap-custom
    .elementor-column
    > .elementor-element-populated {
    padding: 0px;
  }
  .elementor-133 .elementor-element.elementor-element-ef1004e {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .elementor-133
    .elementor-element.elementor-element-1938179a.elementor-column
    > .elementor-widget-wrap {
    justify-content: flex-end;
  }
  .elementor-133
    .elementor-element.elementor-element-1938179a
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(
      .elementor-widget__width-initial
    ):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 13px;
  }
  .elementor-133
    .elementor-element.elementor-element-1938179a
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-133 .elementor-element.elementor-element-34259690 {
    text-align: right;
    width: var(--container-widget-width, 393px);
    max-width: 393px;
    --container-widget-width: 393px;
    --container-widget-flex-grow: 0;
  }
  .elementor-133 .elementor-element.elementor-element-34259690 img {
    width: 100%;
    height: 87px;
  }
  .elementor-133
    .elementor-element.elementor-element-34259690.elementor-element {
    --order: -99999 /* order start hack */;
    --flex-grow: 0;
    --flex-shrink: 1;
  }
  .elementor-133
    .elementor-element.elementor-element-17293145
    .elementor-nav-menu
    .elementor-item {
    font-size: var(--e-global-typography-520c191-font-size);
    line-height: var(--e-global-typography-520c191-line-height);
    letter-spacing: var(--e-global-typography-520c191-letter-spacing);
    word-spacing: var(--e-global-typography-520c191-word-spacing);
  }
  .elementor-133
    .elementor-element.elementor-element-17293145
    .elementor-nav-menu--dropdown
    .elementor-item,
  .elementor-133
    .elementor-element.elementor-element-17293145
    .elementor-nav-menu--dropdown
    .elementor-sub-item {
    font-size: var(--e-global-typography-520c191-font-size);
    letter-spacing: var(--e-global-typography-520c191-letter-spacing);
    word-spacing: var(--e-global-typography-520c191-word-spacing);
  }
  .elementor-133 .elementor-element.elementor-element-17293145 {
    --nav-menu-icon-size: 28px;
  }
}
@media (max-width: 767px) {
  .elementor-133 .elementor-element.elementor-element-1938179a {
    width: 80%;
  }
  .elementor-133 .elementor-element.elementor-element-34259690 {
    text-align: right;
  }
  .elementor-133 .elementor-element.elementor-element-49206abb {
    width: 20%;
  }
  .elementor-133
    .elementor-element.elementor-element-17293145
    .elementor-nav-menu
    .elementor-item {
    font-size: var(--e-global-typography-520c191-font-size);
    line-height: var(--e-global-typography-520c191-line-height);
    letter-spacing: var(--e-global-typography-520c191-letter-spacing);
    word-spacing: var(--e-global-typography-520c191-word-spacing);
  }
  .elementor-133
    .elementor-element.elementor-element-17293145
    .elementor-nav-menu--dropdown
    .elementor-item,
  .elementor-133
    .elementor-element.elementor-element-17293145
    .elementor-nav-menu--dropdown
    .elementor-sub-item {
    font-size: var(--e-global-typography-520c191-font-size);
    letter-spacing: var(--e-global-typography-520c191-letter-spacing);
    word-spacing: var(--e-global-typography-520c191-word-spacing);
  }
}
@media (min-width: 768px) {
  .elementor-133 .elementor-element.elementor-element-1938179a {
    width: 20%;
  }
  .elementor-133 .elementor-element.elementor-element-49206abb {
    width: 80%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-133 .elementor-element.elementor-element-46c956ad {
    width: 75%;
  }
  .elementor-133 .elementor-element.elementor-element-1938179a {
    width: 80%;
  }
  .elementor-133 .elementor-element.elementor-element-49206abb {
    width: 15%;
  }
}
