@media only screen and (max-width: 992px) {
  .contact-us-contents {
    grid-template-columns: 1fr 1fr;
  }
  .elementor-element-items-card {
    grid-template-columns: 1fr 1fr;
  }
  .hero-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 0;
    gap: 40px;
  }
  .hero-img {
    width: 90%;
    margin: auto;
  }
  .header-menu {
    position: fixed;
    right: -100%;
    padding-top: 40px;
    top: 0;
    width: 300px;
    height: 100vh;
    padding-bottom: 50px;
    overflow-y: auto;
    background-color: #110b1f;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex !important;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    padding-left: 30px;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    z-index: 2;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-transition-property: right;
    -o-transition-property: right;
    transition-property: right;
  }
  .header-menu .elementor-nav-menu {
    flex-direction: column;
  }
  .header-menu .elementor-item {
    margin-left: 20px;
  }
  .header-menu.active {
    display: block !important;
    right: 0;
  }
  .pricing-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-top: 50px;
  }
}
@media only screen and (max-width: 768px) {
  .contact-us-contents {
    grid-template-columns: 1fr;
    padding-top: 40px;
    width: 100%;
  }
  .elementor-widget-containers {
    padding: 10px 0;
  }
  .elementor-widget-containers img {
    width: 120px !important;
  }
  .pricing-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    margin-top: 30px;
  }
  section.pricing {
    padding: 70px 0 50px 0;
  }
  .priching-header h3 {
    font-size: 30px;
  }
  .pricing-value h3 {
    padding-top: 15px;
    font-size: 30px;
  }
  .contact-header {
    width: 100%;
  }
  section.contact-us {
    margin: 0px 0 30px 0;
  }
  .elementor-element-items-card {
    grid-template-columns: 1fr;
  }
  .thumbnails-title h2 {
    font-size: 30px;
    text-align: center;
  }
  .hero-heading-title {
    margin-bottom: 15px;
    font-size: 30px !important;
  }
  .hero-shap {
    position: absolute;
    bottom: -23px;
    right: 16px;
  }
  .hero-shap img {
    width: 35px;
  }
}
